body {
    background: linear-gradient(45deg, rgb(235, 101, 141), rgb(246, 136, 51), rgb(255, 217, 28));
    text-decoration:dashed;
  }
 button{
    background : magenta;
  }
  img{
    border-radius: 20px;
    border-image-width: 30px;
  }